body{
    margin: 150px;
}
header{
    background-color: gainsboro;
    justify-content: space-around;
}
nav{
    display: flex;
    /* justify-content: space-between; */
}
.logo{
    margin: 0 0px 0 80px;
    border-left: 4px solid;
    border-image: linear-gradient(lightgrey, goldenrod)1;
    padding-left: 20px;
    flex-grow: 4;
}
.logotext{
    width: 220px;
    padding-top: 20px;
}
h4{
    margin-top: 0;
}
.logocolor{
    color: rgb(228, 172, 32);
}
.second{
    flex-grow: 6;
}
.client{
    border: 1px solid;
    height: 50px;
    width: 450px;
}
.textcli{
    text-decoration: none;
    color: black;
    position: relative;
    padding-left: 70px;
    bottom: -15px;
}
.imgcli{
    position: absolute;
    top: -15px;
    left:20px;
}
.bonjour{
    margin-left: 350px;
    padding: 15px;
}
.list{
    display: flex;
    padding: 10px;
}
.item{
    width: 150px;
    border-left: 1px solid;
    text-align: center;
}
.item3{
    border-right: 1px solid;
}
/* body--------------------------------------------- */
.main{
    background-color: black;
    opacity: 1;
    margin: auto;
}
.container{
    background-color: white;
    height: 100%;
    margin: 0px 115px; 
}
.img1,.img2{
   position: relative;
}
button{
    position: absolute;
    top: 0;
    right: -10px;
    background-color: black;
    opacity: 2;
    color: goldenrod;
    border-radius: 5px;
    width: 15%;
    height: 9%;
    font-size: 15px;
}
.boxtext{
    /* margin-left: 30px; */
    text-align: center;
}
.fourimg{
    box-shadow: black;
    display: flex;
    width: 100%;
    padding: auto;
}
.imgitem{
    border: 2px solid darkslategrey;
    width: 20%;
    margin: 40px;
    flex: auto;
    box-shadow: 5px 5px 5px 5px grey ;
}
.fourtext{
    position: relative;
} 
.aftertext{
    position: absolute;
    bottom: 0;
    left: 50px;
}
.twotext{
    position: relative;
}
.aftertext1{
    position: absolute;
    bottom: 0;
    right: 50px;
}
.button1{
    width: 150px;
    border: 1px solid;
    padding: 10px;
    color: white;
    background-color: black;
    /* margin-right: 189px;  */
}
.button2{
    width: 109px;
    box-shadow: 1px 5px grey;
    padding: 10px;
    margin-left: 165px;;
    color: goldenrod;
    font-size: 20pt;
} 
del{
    color: black;
    /* sinon span
    text-decoration: line-through; */
}
hr{
    border-top: 15px solid;
    color: black;
    margin-top: 50px;
}
.petitmenu{
    margin-bottom: -20px;
    border-radius: 10px;
    width:100%;
    text-align: center;
}
.lilist{
    display: inline-block;
    background-color: white;
    padding: 10px;
}
.lilist:not(:first-child)::before{
    content: "\25FC";
    padding: 2px;
}

/* footer----------------------------------- */
footer{
    background-color: black;
    text-align: center;
    margin-top: -16px;
    padding: 15px;
}
.footimg{
    display: flex;
    width:60%;
    justify-content: space-around;
    margin-left: 257px;
    
}
.foottext ul{
    text-align: center;
    color: white;
}
.foottext li{
    display: inline-block;
}
.footsocial img{
    padding: 15px;
}





































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































    
